template
  fieldset.form-group
    label(for.bind="id") ${label}
      sup(if.bind="required") &nbsp;
        i.fa.fa-asterisk.fa-xs.required-asterisk
    input.form-control(type="password", value.bind="value", disabled.bind="disabled", id.bind="id")
