template
  div.input-group
    span.input-group-btn
      label.btn.btn-secondary(type="button", data-toggle="button", click.trigger="prefixClicked()")
        sub
          i.fa.fa-ellipsis-h
    input.form-control(type="text", value.bind="value")
    span.input-group-btn
      label.btn.btn-secondary(type="button", data-toggle="button", click.trigger="suffixClicked()")
        sub
          i.fa.fa-ellipsis-h
