template
  ai-dialog
    ai-dialog-header
      h2 Edit person names
    ai-dialog-body
      div
        form
          div.form-group.row
            label.col-xs-4.control-label First name
            div.col-xs-8
              input.form-control(value.bind="person.firstName")
          div.form-group.row
            label.col-xs-4.control-label Last name
            div.col-xs-8
              input.form-control(value.bind="person.lastName")
    ai-dialog-footer
      base-button(on-click.call="controller.ok(person)", name="Ok", type="btn-success", icon="fa-check")
      cancel-button(on-click.call="controller.cancel()", name="Cancel")
