template
  div.form-group.row
    label.form-control-label.col-lg-3 ${'dp:search.dateSearch.afterDate' | t}
    div.col-lg-3
      datepicker(value.two-way="startDate")
    label.form-control-label.col-lg-3 ${'dp:search.dateSearch.beforeDate' | t}
    div.col-lg-3
      datepicker(value.two-way="endDate")
